/* image animation */
img {
  display: block;
  transition: transform 0.4s; /* smoother zoom */
}
img:hover {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
/* image animation end */

/* sticky head */
.sticky {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding-bottom: 10px;
}
/* /sticky head end */
.header-first {
  display: flex;
  list-style: none;
  column-gap: 40px;
}
.header-first li {
  color: rgb(243, 232, 232);
  font-family: "Audiowide", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-first li span {
  padding-right: 5px;
}
.header-first li a {
  text-decoration: none;
  color: rgb(187, 86, 86);
}

@media screen and (min-width: 0px) and (max-width: 1280px) {
  .header-first {
    display: none;
  }
}
/*** Navbar ***/
.navbar {
  margin-top: -18px;
  background-color: #111;
}

.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}
.navbar-toggler {
  background: #fff;
}
/* .navbar .navbar-brand {
  position: relative;
  padding-right: 50px;
  height: 75px;
  display: flex;
  align-items: center;
  background: var(--primary);
  background-color: blue;
} */

/* .navbar .navbar-brand::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 100%;
  top: 0;
  right: -25px;
  transform: skewX(-30deg);
  background-color: blue;
  
} */

.navbar .navbar-nav .nav-link {
  margin-right: 35px;
  padding: 20px 0;
  color: var(--dark);
  font-size: 18px;
  font-weight: 500;
  outline: none;
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--primary);
  color: rgb(167, 18, 18);
}

/* a {
  color: #eeeeee;
} */

.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  color: rgb(167, 18, 18);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.logo {
  max-width: 100%;
  width: 100px;
}
/* home css start*/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  /* background: linear-gradient(to right, #525252 0%, rgba(2, 36, 91, 0) 100%); */
  z-index: 1;
}
.carousel-caption h1 {
  margin-top: 10%;
  margin-right: 40%;
  text-align: center;
  text-shadow: 2px 2px #c42525;
  color: #111;
}
.carousel-item img {
  height: 600px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .carousel-caption h1 {
    margin-top: 10%;
    margin-right: 30%;
  }
  .carousel-item img {
    height: 300px;
  }
}

/* about section */
.about-hea {
  color: #fff;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-family: "Sofia", sans-serif;
  font-family: "Trirong", serif;
  padding: 15px;
  text-transform: uppercase;
}
.about-img img {
  max-width: 100%;
  padding: 20px;
}
.about-line {
  background-color: #ff0000;
  padding: 1px;
  width: 20%;
  margin-left: 40%;
}

@media screen and (min-width: 0px) and (max-width: 1280px) {
  .about-line {
    margin: auto;
  }
}
.about h3 {
  margin-top: 15%;
}
.about p {
  margin-top: 4%;
  font-size: 20px;
}
/* procedure section */
.procedure h1 {
  color: #fff;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-family: "Sofia", sans-serif;
  font-family: "Trirong", serif;
  padding-top: 15px;
  text-transform: uppercase;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .procedure h1 {
    font-size: 1em;
  }
}
.procedure-line {
  background-color: #ff0000;
  padding: 1px;
  width: 40%;
  margin-left: 30%;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .procedure-line {
    margin: auto;
  }
}
/* procedure section css */
.box1 {
  color: #eeeeee;
  padding: 10px;
  border: 1px solid #eeeeee;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}
.box1 img {
  max-width: 100%;
  margin-top: 60px;
  overflow: hidden;
}
.box1 h3 {
  font-weight: 400;
  font-size: 1em;
  color: rgb(187, 86, 86);
  margin-top: 13px;
  overflow: hidden;
}
.box1 p {
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
}
.box2 {
  color: #eeeeee;
  padding: 10px;
  border: 1px solid #eeeeee;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}
.box2 img {
  max-width: 100%;
  margin-top: 60px;
  overflow: hidden;
}
.box2 h3 {
  font-weight: 400;
  font-size: 1em;
  color: rgb(187, 86, 86);
  margin-top: 13px;
  overflow: hidden;
}
.box2 p {
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
}
.box3 {
  color: #eeeeee;
  padding: 10px;
  border: 1px solid #eeeeee;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}
.box3 img {
  max-width: 100%;
  margin-top: 80px;
  overflow: hidden;
}
.box3 h3 {
  font-weight: 400;
  font-size: 1em;
  color: rgb(187, 86, 86);
  margin-top: 13px;
  margin-top: 40px;
  overflow: hidden;
}
.box3 p {
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
}
.box4 {
  color: #eeeeee;
  padding: 10px;
  border: 1px solid #eeeeee;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}
.box4 img {
  max-width: 100%;
  margin-top: 60px;
  overflow: hidden;
}
.box4 h3 {
  font-weight: 400;
  font-size: 1em;
  color: rgb(187, 86, 86);
  margin-top: 13px;
  overflow: hidden;
}
.box4 p {
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
}
.box5 {
  color: #eeeeee;
  padding: 10px;
  border: 1px solid #eeeeee;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}
.box5 img {
  max-width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
.box5 h3 {
  font-weight: 400;
  font-size: 1em;
  color: rgb(187, 86, 86);
  margin-top: 30px;
  overflow: hidden;
}
.box5 p {
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
}
.box6 {
  color: #eeeeee;
  padding: 10px;
  border: 1px solid #eeeeee;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}
.box6 img {
  max-width: 100%;
  margin-top: 60px;
  overflow: hidden;
}
.box6 h3 {
  font-weight: 400;
  font-size: 1em;
  color: rgb(187, 86, 86);
  margin-top: 50px;
  overflow: hidden;
}
.box6 p {
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
}
.box7 {
  color: #eeeeee;
  padding: 10px;
  border: 1px solid #eeeeee;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}
.box7 img {
  max-width: 100%;
  margin-top: 50px;
  overflow: hidden;
}
.box7 h3 {
  font-weight: 400;
  font-size: 1em;
  color: rgb(187, 86, 86);
  margin-top: 13px;
  margin-top: 20px;
  overflow: hidden;
}
.box7 p {
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width: 1280px) {
  .procedure-box-section1 .col:nth-of-type(1),
  .procedure-box-section1 .col:nth-of-type(2),
  .procedure-box-section1 .col:nth-of-type(3),
  .procedure-box-section1 .col:nth-of-type(4) {
    width: 100%;
    padding: 10px;
    overflow: hidden;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .procedure-box-section2 .col:nth-of-type(1),
  .procedure-box-section2 .col:nth-of-type(2),
  .procedure-box-section2 .col:nth-of-type(3) {
    width: 100%;
    padding: 10px;
    overflow: hidden;
  }
}

/* project gallery section start */
/* .gallery-red {
  background-color: #ff0000;
  padding: 1px;
  width: 30%;
  margin-left: 35%;
} */
.project {
  max-width: 100%;
  width: 700px;
  height: 300px;
  padding-top: 40px;
}
.project1 {
  max-width: 100%;
  padding-top: 40px;
  max-height: 100%;
}
.project2 {
  max-width: 100%;
  padding-top: 40px;
  max-height: 100%;
  height: 600px;
}
/* whatsapp icon */

.whatsapp {
  position: fixed;
  left: 10px;
  top: 80%;
  z-index: 99;
  cursor: pointer;
  display: block;

  /* background-color: #f7481c; */
  /* border-radius: 50%; */
  width: 70px;
  height: 70px;
}
.whatsapp img {
  max-width: 100%;
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
  transition: transform 0.7s;
}

.whatsapp img:hover {
  transform: rotate(360deg);
}
/* footer css */
.footer {
  background-color: black;
  color: #fff;
  padding-left: 100px;
  padding-top: 20px;
}
.office1 h3 {
  color: white;
  margin-left: 30px;
  padding: 10px;
}
.office1 ul {
  list-style: none;
}
.office1 ul li a {
  text-decoration: none;
  color: #fff;
}
.office1 ul li span {
  color: #fff;
  padding-right: 10px;
}
.mx {
  margin-left: 40px;
}
.links h3 {
  margin-left: 25px;
}
.links ul {
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: #fff;
}
.work-hours ul {
  list-style: none;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .work-hours h3 {
    margin-left: 25px;
    font-size: 1em;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .work-hours h3 {
    margin-left: 25px;
    font-size: 1em;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .work-hours h3 {
    margin-left: 25px;
    font-size: 1em;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .work-hours h3 {
    margin-left: 25px;
    font-size: 1em;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .links h3 {
    margin-left: 30px;
    font-size: 1em;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .footer .office1 h3 {
    margin-left: 18px;
    font-size: 1em;
  }
}

@media screen and (min-width: 0px) and (max-width: 1280px) {
  .footer {
    padding-left: 0px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .footer .col:nth-of-type(1) {
    width: 100%;
    /* margin-left: 0px; */
    /* padding: 10px; */
  }
  .footer .col:nth-of-type(2),
  .footer .col:nth-of-type(3) {
    width: 50%;
  }
}
.footer-end {
  background: #696969;
  text-align: center;
  padding: 10px;
}

/* about page section start */
.about-banner {
  max-width: 100%;
  /* width: 600px; */
  height: 90vh;
  position: relative;
}

.about-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about-banner-text {
  position: absolute;
  margin-left: -300px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about-banner-img {
  z-index: 1;
} /* behind */
.about-banner-text {
  z-index: 2;
}
.about-banner-img {
  background: url(/public/images/Maintaining-Goodwill-for-Construction-Companies.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}

.about-banner-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  text-shadow: 2px 2px #545454;
}
.about-img img {
  max-width: 100%;
  width: 500px;
  height: 300px;
}
.about-red {
  background-color: #ff0000;
  padding: 1px;
  width: 20%;
  /* margin-left: 40%; */
}
.h1 {
  font-family: "Audiowide", sans-serif;
}
.about-content {
  font-family: "Audiowide", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .about-banner-text {
    margin: 0 auto;
  }
}
.video-div {
  width: 250px;
  height: 300px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .video-div {
    width: 400px;
    padding: 30px;
  }
}
/* about page section end */
.contact-banner {
  max-width: 100%;
  /* width: 600px; */
  height: 90vh;
  position: relative;
}

.contact-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact-banner-text {
  position: absolute;
  margin-left: -300px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}
.contact-banner-img {
  z-index: 1;
} /* behind */
.contact-banner-text {
  z-index: 2;
}
.contact-banner-img {
  background: url(/public/images/construction-1400px.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}

.contact-banner-text {
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  text-shadow: 2px 2px #545454;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact-banner-text {
    margin-top: 100px;
    margin-left: 0px;
  }
}

.contact-btn {
  margin-top: 70px;
  /* margin-left: -300px; */
}
.contact-img img {
  max-width: 100%;
  margin-top: 40px;
  width: 600px;
}
.map iframe {
  width: 100%;
  height: 450px;
  padding-top: 10px;
}
/* contact page section end */
